@import "tailwindcss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/bg-manager1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

